.container{
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.wrapper{
  padding: 10px 15px;
}

.wrapperMain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.linkMainWrapper{
  margin: 20px 0;
  display: flex;
}

.heading{
  text-align: center;
  margin: 20px 0;
}

.card{
  background-color: white;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow:0 0 3px rgba(0, 0, 0, 0.2)
}

.card:hover{
  opacity: 0.6;
}

.cardTitle{
  margin-bottom: 10px;
  display: flex;
  gap:5px;
  text-transform: capitalize;
}

.link{
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border:none;
  border-bottom: 2px solid black;
}

.linkMain{
  display: inline-block;
  padding: 10px;
  background-color: white;
  border:none;
  border-bottom: 2px solid black;
  margin: 0px 15px;
}

.paginationWrapper{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 15px;
}

.paginationNumber{
  margin: 0 5px;
  display: inline-block;
  padding: 10px;
}

.active{
  margin: 0 5px;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.form{
  margin:10px 0;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.form input{
  padding:10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid black;
  font-size: inherit;
  font-family: inherit;
  outline: none;
}

.form button{
  padding:10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
}

.msg{
  text-align: center;
  font-weight: bold;
  color:crimson;
  margin-bottom: 10px;
}